
/**************** Dashboard + menu's ****************/

body {
    background-color: whitesmoke;
}

.tile:hover {
    -moz-box-shadow: 0 0 20px #ccc; 
    -webkit-box-shadow: 0 0 20px #ccc; 
    box-shadow: 0 0 20px #ccc;
}

.logo {
    width: 50px;
    height: 100px;
}

.marginTop {
    margin-top: 40px;
}

.topMargin {
    margin-top: 50px;
}

.marginBottom {
    margin-bottom: 50px;
}

.tileHeader {
    color: #337ab7;
    text-align: left;
    margin-bottom: 30px;
}

#logoutBtn {
    margin-top: 8px;
}

.trackbox{
    background-color: #ffa500;
    color: #fff;
    border: 10px;
    width: 200px;
    height: 100px;   
    padding-left: 5px;
    float: right;
    margin-right: 100px;
}

.fleft {
    float: left;
    
}

/**************** Index.jsp ****************/

#topRow {
    //margin-top:70px;
    text-align:center;
}

#emailSignup {
    margin-top:50px;
}

.marginTop {
    margin-top: 30px;
}

.center {
    text-align:center;
}

.title {
    margin-top:100px;
    font-size:300%;
}

#textDecorationNone {
    text-decoration: none;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}

#submitBtn{
    margin-top: 20px;

}
#header{
    margin-left: auto;
    margin-right: auto;
    width: 525px;
}

.leftAlign {
    text-align: right;
}

.stats {
    margin-top: 70px;
}

.statsSection {
    background-color: #e38d13;
}

.whiteText {
    color: #fff;
}


#list {     
    list-style:none;
    margin-bottom: 30px;
}

#image {
    cursor: pointer;
}


