/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-03-2015, 23:25:55
    Author     : EmilGras
*/

/**************** Dashboard + menu's ****************/

body {
    background-color: whitesmoke;
}

.tile {
    //background-color: gainsboro;
    //height: 220px;
}

.tile:hover {
    -moz-box-shadow: 0 0 20px #ccc; 
    -webkit-box-shadow: 0 0 20px #ccc; 
    box-shadow: 0 0 20px #ccc;
    opacity: .8;
    cursor:pointer;
}

.logo {
    width: 50px;
    height: 100px;
}

.marginTop {
    margin-top: 40px;
}

.marginBottom {
    margin-bottom: 50px;
}

.tileHeader {
    color: #337ab7;
}

#logoutBtn {
    margin-top: 8px;
}


/**************** Index.jsp ****************/

#topRow {
    //margin-top:70px;
    text-align:center;
}

#emailSignup {
    margin-top:50px;
}

.marginTop {
    margin-top: 30px;
}

.center {
    text-align:center;
}

.title {
    margin-top:100px;
    font-size:300%;
}

#textDecorationNone {
    text-decoration: none;
}

#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}

#submitBtn{
    margin-top: 20px;
    
}
#header{
    margin-left: auto;
    margin-right: auto;
    width: 525px;
}
